<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
  <li>
    <% if user.image.present? %>
      <%= image_tag user.image_url, size: 50 %>
    <% end %>
    <%= link_to user.name, user %>
  </li>
  <% end %>
  <%= paginate @users %>
</ul>

